.hvx-gamePage{
    background: url('../../assets/images/hvx-background-game.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}