.home {

    .content {
        padding: 80px 30px 0 30px;
    }

    .home-header {
        background: white;
        position: fixed;
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 10;

        .header-logo-img {
            width: 200px;
            cursor: pointer;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header-info-user {
            padding: 5px;
        }

        .header-info-user:hover {
            background: #e4e6eb;
            transition: 0.4s;
            border-radius: 25px;
            padding: 5px;
            cursor: pointer;
        }

        .header-info {
            display: flex;
            align-items: center;
        }

        .header-info-user-avatar {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .header-info-user-name {
            margin-left: 7px;
        }
    }

    .home-sidebar {
        min-height: 500px;
        border-radius: 15px;
        padding: 15px;
        width: 100%;
        max-width: 400px;

        .user-profile {
            border-bottom: 1px solid #e4e6eb;
            padding: 20px 0;
        }

        .best-scores {
            color: #28c925;
            font-weight: bold;
        }

        p {
            font-size: 20px;
            text-align: center;
        }

        .user-fullname {
            font-size: 30px;
        }

        .sidebar-menu {
            .menu-item {
                font-size: 20px;
                padding: 10px 5px;
                border-bottom: 1px solid #e4e6eb;
                cursor: pointer;

                &:hover {
                    transition: 0.5s;
                    background: #e4e6eb;
                    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
                }
            }

            .active {
                background: #e4e6eb;
                border-left: 1px solid #e4e6eb;
                transition: 0.5s;
                box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
                font-weight: bold;
            }
        }
    }

    .home-rate {
        min-height: 500px;
        border-radius: 15px;
        padding: 15px;
        position: relative;
        width: 100%;
        max-width: 400px;

        .list-item-history {
            height: 80vh;
            overflow-y: auto;
        }

        .history-item {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #e4e6eb;
            margin: 5px 0;
            cursor: pointer;
            p{
                font-size: 16px;
            }

            &:hover{
                background-color: #e4e6eb;
                transition: all 0.5s;
            }
        }

        .history-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-size: 12px;
            }
        }

        .rate-header {
            border-bottom: 1px solid #e4e6eb;
            padding: 10px 0;
            padding-bottom: 25px;
        }

        .rate-title {
            font-size: 25px;
            text-transform: uppercase;
            text-align: center;
        }

        .rate-select-top {
            display: flex;
            justify-content: center;
        }

        .rate-selected {
            width: 70%;
            margin-top: 15px;
        }

        .user-item {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .user-item-avt {
            width: 35px;
            object-fit: cover;
            border-radius: 50%;
        }

        .user-item-name {
            margin-left: 10px;
        }
    }

    .midContent {
        border: 1px solid #e4e6eb;
        border-top: none;
        padding-top: 50px;
        max-height: 100vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .list-box {
            padding-top: 40px;

            .item {
                border: 1px solid #e4e6eb;
                border-radius: 10px;
                width: 100%;
                height: 150px;
                margin: 10px 0;
                padding: 10px;
                position: relative;

                .item-title {
                    font-size: 18px;
                    font-weight: bold;
                }

                &:hover {
                    transition: 0.3s;
                    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                }

                .best-score {
                    position: absolute;
                    background: red;
                    right: 0px;
                    border-top-right-radius: 10px;
                    top: 0;
                    color: white;
                    padding: 3px 8px;
                }

                .hvx-btn-item {
                    position: absolute;
                    right: 10px;
                    top: 70%;
                    border-radius: 10px;
                    background: #33adff;
                    color: white;
                    border: 1px solid #33adff;

                    &:hover {
                        background: white;
                        color: #33adff;
                        transition: 0.3s;
                    }

                }
            }
        }
    }
}